NEXT_PUBLIC_BASE_URL=http://localhost:3000

MONGODB_URI= mongodb://localhost:27017/golob_travel_agency  # mongodb URL to connect to the database
AUTH_TRUST_HOST=true
AUTH_SECRET= # random string minimum 32 bytes required for next auth

AUTH_GOOGLE_ID= # Google client ID for login with google
AUTH_GOOGLE_SECRET= # Google client secret for login with google
AUTH_FACEBOOK_ID= # Facebook client ID for login with Facebook
AUTH_FACEBOOK_SECRET= # Facebook client secret for login with Facebook
AUTH_APPLE_ID= # Apple client ID for login with Apple
AUTH_APPLE_SECRET= # Apple client secret for login with Apple

NEXT_PUBLIC_REVALIDATION_TIME= 600 # time in seconds

# create a Firebase project and create a web app to get these Firebase configuration keys
FIREBASE_API_KEY= # firebase API key
FIREBASE_AUTH_DOMAIN= # firebase auth domain
FIREBASE_PROJECT_ID= # firebase project id
FIREBASE_STORAGE_BUCKET= # firebase storage bucket
FIREBASE_MESSAGING_SENDER_ID= # firebase messaging sender id
FIREBASE_APP_ID= # firebase app id
FIREBASE_MEASUREMENT_ID= # firebase measurement id

# register a user in Firebase authentication with email and password and place those email and password below
FIREBASE_AUTH_EMAIL= # firebase auth email
FIREBASE_AUTH_PASSWORD= # firebase auth password

MAIL_SENDER_EMAIL= # SENDER email address. Email you want to send with.
MAIL_API_TOKEN= # Mailjet send api token
MAIL_SECRET_TOKEN= # Mailjet secret token

CRON_SECRET= # cron secret token